---
import Layout from "../layouts/Layout.astro";
import MyReact from "../components/MyReact.jsx";
import ToggleSwitch from "../components/ToggleSwitch.astro";
import Counter from "../components/Counter.jsx";
import Counter1 from "../components/Counter1.svelte";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h1>Welcome to My Astro</h1>
  <ToggleSwitch />
  <Counter client:load />
</Layout>
