---
// Component Script (JavaScript)
const ourName = "Glenn Paulin";
const { greeting, name } = Astro.props;
import "../styles/global.css";
---

<!-- Component Template (HTML + JS Expressions) -->
<h1>{ourName}</h1>
<slot />
<h2>{greeting}, {name}</h2>
<style>
  h1 {
    color: red;
    font-family: "Lato", sans-serif;
  }
</style>
